{% extends "emails/base_email.html" %}

{% block content %}
<p>Hi {{ username }},</p>

<p>Welcome to <strong>Vendora</strong>!</p>

<p>Thank you for registering on our Multi-Vendor Management System platform. Your account has been successfully created.</p>

<p>We’re excited to have you onboard and look forward to helping you grow your business with Vendora.</p>

<p>If you have any questions or need assistance, feel free to reach out to our support team anytime.</p>

<p>Best regards,<br>
The Vendora Team</p>
{% endblock %}
